# ─── SWC generated cache output ───────────────────────────────────────────────
*

# ─── SWC policy files ─────────────────────────────────────────────────────────
!.gitignore
!README.md
!policy.json
